@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&family=Krona+One&display=swap');

:root {
    --fonte: 'Carlito', sans-serif;
    --fonte-secundaria: 'Foldit', cursive;
    --cor-da-fonte: #ECB365;
    font-size: 24px;
    --cor-primaria: #064663;
    --cor-secundaria: #041C32;
    --cor-terciaria: #3E54AC;
    --cor-span: #C31207;
}

* {
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
}

main {
    background-image: linear-gradient(var(--cor-primaria), var(--cor-secundaria));
}

.cabecalho {
    background-color: var(--cor-secundaria); 
    color: var(--cor-da-fonte);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

span {
    color: var(--cor-span);
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: var(--cor-da-fonte);
    margin: 0 1rem;
}

.link:hover {
    color: var(--cor-terciaria);
}

.sobre-mim {
    display: flex;
}

.foto {
    clip-path: circle(30%);
    width: 20%;
    height: 15%;
    padding: 1rem 2rem;
}

.container-texto {
    color: var(--cor-da-fonte);
    text-align: center;
    width: 70vw;
    padding: 6rem 6rem 2rem 6rem;
}

.titulo {
    color: var(--cor-terciaria);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    margin:0 2rem;
    padding: 2rem 0;
}

.container-links {
    background-image: radial-gradient(var(--cor-primaria), var(--cor-secundaria));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem 0.5rem;
    border: 1px solid var(--cor-da-fonte);
    border-radius: 8px;

}

.links-cursos {
    background-color: var(--cor-terciaria);
    text-decoration: none;
    color: var(--cor-da-fonte);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    padding: 0.3rem;
}

.links-cursos:hover {
    border-color: var(--cor-da-fonte);
}

.links-texto {
    color: var(--cor-da-fonte);
    margin: 2rem;
    padding: 0.5rem;
}

.divisao-rodape {
    border: 1px solid var(--cor-da-fonte);

}

.rodape {
    background-color: var(--cor-secundaria);
    color: var(--cor-da-fonte);
    font-size: 28px;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.rodape-texto {
    margin-bottom: 1rem;
}

.logo-rodape_texto {
    color: var(--cor-primaria);
    font-size: 12px;
}

.logo-rodape {
    background-color: var(--cor-secundaria);
}



@media screen and (max-width: 1024px) {
    .foto {
        clip-path: circle(25%);
    }

    .container-texto {
        padding: 4rem;
        text-align: start;
    }

    .container-links {
        margin: 0.5rem;
        width: 20%;
    }

    .links-cursos {
        text-align: center;
    }
}


@media screen and (max-width: 768px) {
    .sobre-mim {
        flex-direction: column;
        align-items: center;
    }

    .foto {
        padding: 0;
    }

    .container-texto {
        padding: 0 0.5rem;
        margin-bottom: 2rem;
        text-align: start;
    }

    .links {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .container-links {
        width: 70vw;
        text-align: center;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:428px) {
    .cabecalho {
        flex-direction: column;
    }

    .cabecalho-logo {
        margin-bottom: 1rem;
    }

    .links-cabecalho {
        display: flex
    }
}

